{% extends 'cinema/base.html' %}
{% load static %}
{% load number_filters %}
{% load runtime_filters %}

{% block body_class %}detail-page{% endblock %}

{% block content %}
    <div class="background-container">
        <img class="background" src="{{ media.backdrop_path }}" alt="{{ media.title }}">
        <div class="background-overlay"></div> <!-- Затемнение фона -->
    </div>



    <div class="container">
        <div class="content">
            <h1>{{ media.title }}</h1>
            <div class="info">
                <div class="rating-imdb {% if media.vote_average >= 8 %}
                                                rating-imdb-high
                                            {% elif media.vote_average >= 6 %}
                                                rating-imdb-medium
                                            {% else %}
                                                rating-imdb-low
                                            {% endif %}">
                    <div class="imdb-logo"></div>
                    <span class="rating-score">{{ media.vote_average }}</span>
                </div>
                <span class="release-date">{{ media.release_date|date:"Y" }}</span> <!-- Только год -->
                <span>{{ media.runtime|format_runtime }}</span>

                {% if media.number_of_seasons %}
                    <span>
                           {{ media.number_of_seasons|pluralize_season }}
                        </span>
                {% endif %}

            </div>
            <div class="info-genre">
                {% for genre in media.genre.all|slice:":3" %}
                    <p>{{ genre.name }}</p>
                {% endfor %}
            </div>
            <p class="overview">{{ media.overview }}</p>
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    truncateText('.overview', 450);
                });
            </script>
            <div class="watch">

                <div class="btn-watch">
                    <i class="fa fa-play"></i>
                    <span>Смотреть</span>
                </div>

                <div class="bookmark" data-id="{{ media.id }}">
                    <i class="fa-regular fa-bookmark"></i>
                </div>
                <script>
                    const userId = "{{ user.id|default:'null' }}";  // Если user.id пуст, будет 'null'
                </script>
            </div>
        </div>
    </div>


    <!-- Кнопки сезонов -->
    <div class="seasons-container">
        {% for season, episodes in player_data.available_seasons_list %}
            <button
                    class="season-btn button{% if loop.first %}active{% endif %}"
                    data-season="{{ season }}">
                Сезон {{ season }}
            </button>
        {% endfor %}
    </div>

    <div class="translators-dropdown text-white text-center ">
        <label class="label-translators" for="translators">Выберите перевод:</label>
        <select id="translators">
            <!-- "Оригинал" -->
            <option value="238" {% if current_translator_id == "238" %}selected{% endif %}>Оригинал</option>

            <!-- Остальные переводы -->
            {% for name, id in player_data.translators %}
                {% if id != 238 %}

                    <option value="{{ id }}"
                            {% if id|stringformat:"s" == current_translator_id|stringformat:"s" %}selected{% endif %}>
                        {{ name }}
                    </option>

                {% endif %}
            {% endfor %}
        </select>
    </div>







    <div id="player-1" class="video" style="position: relative;">
        <video
                id="video-1"
                class="video-js vjs-default-skin"
                controls
                preload="auto"
                width="640"
                height="346"
                poster="{{ media.poster_path }}"
                data-setup={}
        >
            <track src="{{ player_data.subtitles_url.russian_sub }}" kind="subtitles" srclang="ru" label="Русский">
            <track src="{{ player_data.subtitles_url.english_sub }}" kind="subtitles" srclang="en" label="English">


            {% for url in player_data.video_urls.url_360p %}
                <source src="https://my-hls-proxy.dinis16181978.workers.dev/?url={{ url }}" type="application/vnd.apple.mpegurl" data-res="360p">
            {% endfor %}

{#            {% for url in player_data.video_urls.url_1080p %}#}
{#                <source src="{{ url }}" type="application/vnd.apple.mpegurl" data-res="1080p">#}
{#            {% endfor %}#}


            {% comment %}<source src="{{ player_data.video_urls.url_1080p }}" type="application/vnd.apple.mpegurl" data-res="1080p">{% endcomment %}
            {% comment %}<source src="{{ player_data.video_urls.url_720p }}" type="application/vnd.apple.mpegurl" data-res="720p">

                <source src="{{ player_data.video_urls.url_480p }}" type="application/vnd.apple.mpegurl" data-res="480p">
                <source src="{{ player_data.video_urls.url_1080p_Ultra }}" type="application/vnd.apple.mpegurl"
                        data-res="1080p_Ultra">{% endcomment %}
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
        </video>
    </div>




    <!-- Список эпизодов -->
    <div class="episodes-container">
        {% for season, episodes in player_data.available_seasons_list %}
            <div class="episodes" id="season-episodes-{{ season }}"
                 {% if not loop.first %}style="display: none;"{% endif %}>
                {% for episode in episodes %}
                    <button
                            class="episode-btn button {% if loop.first %}active{% endif %}"
                            onclick="loadEpisode({{ season }}, {{ episode }})">
                        Серия {{ episode }}
                    </button>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <h3 class="comment-title">Прокомментировать </h3>
    <div class="form-review-container">
        <div class="form-review">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="comment-rating" class="form-label">Рейтинг</label>
                    <input id="comment-rating" name="rating" class="form-control" type="number" min="1" max="10"
                           step="0.1" placeholder="Введите рейтинг" aria-label="Рейтинг" required>
                </div>
                <div class="form-group">
                    <label for="comment-body" class="form-label">Комментарий</label>
                    <textarea id="comment-body" name="comment" class="form-control" placeholder="Введите комментарий"
                              rows="4" aria-label="Комментарий" required></textarea>
                </div>
                <button type="submit" class="btn-submit">Отправить</button>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <!-- Подключение плагина качества -->
    {% comment %}<script src="https://cdn.jsdelivr.net/npm/@videojs/http-streaming/dist/videojs-http-streaming.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/videojs-hls-quality-selector/dist/videojs-hls-quality-selector.min.js"></script>{% endcomment %}

    <script src="{% static 'js/player_customize.js' %}"></script>


{% endblock %}
