{% extends 'cinema/base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
{% endblock %}

{% block title %}Главное меню{% endblock %}

{% block content %}
    <section>
        <div class="breaking-bad_section">
            <img class="img-fluid" src="{% static 'img/breaking-bad.png' %}" alt="breaking-bad">
            <div class="image-text">
                <h1>Откройте мир кино с нами!</h1>
                <p>Добавляйте фильмы и сериалы в свои списки, следите за обновлениями и находите новые шедевры.
                </p>
                <p>Оценивайте, оставляйте отзывы и делитесь своим мнением с друзьями. Ваша личная библиотека лучших
                    фильмов!</p>
            </div>
        </div>
    </section>


    <section class="my_swiper">

        <h2 class="text-center h2-md ">Рекомендую к просмотру</h2>
        <!-- Slider main container -->
        <div class="cinema-slider swiper">

            <div class="swiper-wrapper">
                <!-- Slides -->
                {% for movie in movies %}
                    
                    <div class="swiper-slide my-swiper-slide">
                        <div class="image-slider">
                            <img src="{{ movie.poster_path }}" alt="Cinema">
                        </div>
                        <div class="card-info">
                            <h5 class="text-start">{{ movie.title }}</h5>
                            <div class="year-genre">
                                <p class="muted-text">{{ movie.release_date|date:"Y" }}</p>
                                <p class="muted-text-genre">{% for genre in movie.genre.all %}
                                    {{ genre.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}</p>
                            </div>
                        </div>
                        <div class="bookmark">
                            <i class="fa-regular fa-bookmark"></i>
                        </div>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i> {{ movie.vote_average|floatformat:1 }}
                        </div>
                    </div>
                    
                {% endfor %}

            </div>

            <!-- navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

        </div>

    </section>

    <section class="reviews">

        <!-- Модальное окно -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Заголовок модального окна</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>


        <h2>Что говорят наши пользователи</h2>
        <p class="last-reviews">Последние отзывы</p>
        <div class="reviews-swiper swiper">
            <div class="swiper-wrapper">
                <!-- Slides -->

                <div class="swiper-slide">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-4">
                                <img src="{% static 'img/apocalypse.jpg' %}" class="img-fluid rounded-start"
                                     alt="...">
                            </div>
                            <div class="col-8">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Елена Д.</h5>
                                    <p class="card-text">8/10</p>
                                    <p class="card-text">"Очень приятно удивлена, смотрите смело. Такое чувство, что
                                        хочется пересматривать и пересматривать этот шедевр"</p>
                                    <a href="#" class="card-button" data-bs-toggle="modal"
                                       data-bs-target="#exampleModal"
                                       data-bs-whatever="Очень приятно удивлена, смотрите смело. Такое чувство, что хочется пересматривать и пересматривать этот шедевр"
                                       data-bs-name="Елена Д.">Показать больше</a>
                                    <p class="card-text"><small>8 октября 2024</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-4">
                                <img src="{% static 'img/breaking_bad.jpg' %}" class="img-fluid rounded-start"
                                     alt="...">
                            </div>
                            <div class="col-8">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Алексей Г.</h5>
                                    <p class="card-text">10/10</p>
                                    <p class="card-text">"Просто великолепно, рекомендую всем!"</p>
                                    <a href="#" class="card-button" data-bs-toggle="modal"
                                       data-bs-target="#exampleModal"
                                       data-bs-whatever="Просто великолепно, рекомендую всем!"
                                       data-bs-name="Алексей Г.">Показать больше</a>
                                    <p class="card-text"><small>10 октября 2024</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-4">
                                <img src="{% static 'img/mr_robot.jpg' %}" class="img-fluid rounded-start"
                                     alt="...">
                            </div>
                            <div class="col-8">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Светлана Б.</h5>
                                    <p class="card-text">9/10</p>
                                    <p class="card-text">"Сериал захватывающий, один из лучших!"</p>
                                    <a href="#" class="card-button" data-bs-toggle="modal"
                                       data-bs-target="#exampleModal"
                                       data-bs-whatever="Сериал захватывающий, один из лучших!"
                                       data-bs-name="Светлана Б.">Показать больше</a>
                                    <p class="card-text"><small>12 октября 2024</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-4">
                                <img src="{% static 'img/walking_dead.jpg' %}" class="img-fluid rounded-start"
                                     alt="...">
                            </div>
                            <div class="col-8">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Николай Т.</h5>
                                    <p class="card-text">8/10</p>
                                    <p class="card-text">"Хороший сериал, но второй раз не буду смотреть."</p>
                                    <a href="#" class="card-button" data-bs-toggle="modal"
                                       data-bs-target="#exampleModal"
                                       data-bs-whatever="Хороший сериал, но второй раз не буду смотреть."
                                       data-bs-name="Николай Т.">Показать больше</a>
                                    <p class="card-text"><small>14 октября 2024</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-4">
                                <img src="{% static 'img/gentlemen.jpg' %}" class="img-fluid rounded-start"
                                     alt="...">
                            </div>
                            <div class="col-8">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Максим Н.</h5>
                                    <p class="card-text">5/10</p>
                                    <p class="card-text">"Средний фильм, один раз можно посмотреть."</p>
                                    <a href="#" class="card-button" data-bs-toggle="modal"
                                       data-bs-target="#exampleModal"
                                       data-bs-whatever="Средний фильм, один раз можно посмотреть."
                                       data-bs-name="Максим Н.">Показать больше</a>
                                    <p class="card-text"><small>15 октября 2024</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-4">
                                <img src="{% static 'img/terrifier.jpg' %}" class="img-fluid rounded-start"
                                     alt="...">
                            </div>
                            <div class="col-8">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Екатерина М.</h5>
                                    <p class="card-text">6/10</p>
                                    <p class="card-text">"Ожидала большего, но не разочарована."</p>
                                    <a href="#" class="card-button" data-bs-toggle="modal"
                                       data-bs-target="#exampleModal"
                                       data-bs-whatever="Ожидала большего, но не разочарована."
                                       data-bs-name="Екатерина М.">Показать больше</a>
                                    <p class="card-text"><small>18 октября 2024</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-4">
                                <img src="{% static 'img/joker.jpg' %}" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-8">
                                <div class="card-body text-center">
                                    <h5 class="card-title ">Ольга К.</h5>
                                    <p class="card-text ">9/10</p>
                                    <p class="card-text">"Смотрела на одном дыхании, рекомендую!"</p>
                                    <a href="#" class="card-button" data-bs-toggle="modal"
                                       data-bs-target="#exampleModal"
                                       data-bs-whatever="Смотрела на одном дыхании, рекомендую!"
                                       data-bs-name="Ольга К.">Показать больше</a>
                                    <p class="card-text "><small>20 октября 2024</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-4">
                                <img src="{% static 'img/game_of_thrones.jpg' %}" class="img-fluid rounded-start"
                                     alt="...">
                            </div>
                            <div class="col-8">
                                <div class="card-body text-center">
                                    <h5 class="card-title ">Дмитрий Л.</h5>
                                    <p class="card-text ">10/10</p>
                                    <p class="card-text">"Лучший сериал года для меня!"</p>
                                    <a href="#" class="card-button" data-bs-toggle="modal"
                                       data-bs-target="#exampleModal"
                                       data-bs-whatever="Лучший сериал года для меня!"
                                       data-bs-name="Дмитрий Л.">Показать больше</a>
                                    <p class="card-text "><small>19 октября 2024</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-4">
                                <img src="{% static 'img/troy.jpg' %}" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-8">
                                <div class="card-body text-center">
                                    <h5 class="card-title ">Анна П.</h5>
                                    <p class="card-text ">8/10</p>
                                    <p class="card-text">"Отличный сюжет и актёрская игра на высоте!"</p>
                                    <a href="#" class="card-button" data-bs-toggle="modal"
                                       data-bs-target="#exampleModal"
                                       data-bs-whatever="Отличный сюжет и актёрская игра на высоте!"
                                       data-bs-name="Анна П.">Показать больше</a>
                                    <p class="card-text "><small>24 октября 2024</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-4">
                                <img src="{% static 'img/revenant.jpg' %}" class="img-fluid rounded-start"
                                     alt="...">
                            </div>
                            <div class="col-8">
                                <div class="card-body text-center">
                                    <h5 class="card-title ">Иван С.</h5>
                                    <p class="card-text ">7/10</p>
                                    <p class="card-text">"Неплохо, но концовка оставила вопросы."</p>
                                    <a href="#" class="card-button" data-bs-toggle="modal"
                                       data-bs-target="#exampleModal"
                                       data-bs-whatever="Неплохо, но концовка оставила вопросы."
                                       data-bs-name="Иван С.">Показать больше</a>
                                    <p class="card-text "><small>22 октября 2024</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-4">
                                <img src="{% static 'img/stranger_thing.jpg' %}" class="img-fluid rounded-start"
                                     alt="...">
                            </div>
                            <div class="col-8">
                                <div class="card-body text-center">
                                    <h5 class="card-title ">Анна П.</h5>
                                    <p class="card-text ">9/10</p>
                                    <p class="card-text ">
                                        "Сериал просто отличный! Очень понравился"
                                    </p>
                                    <a href="#" class="card-button" data-bs-toggle="modal"
                                       data-bs-target="#exampleModal"
                                       data-bs-whatever="Сериал просто отличный! Очень понравился"
                                       data-bs-name="Анна П.">Показать
                                        больше</a>
                                    <p class="card-text "><small>24 октября 2024</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>


    </section>




    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script src="{% static 'js/swiper.js' %}"></script>
    <script src="{% static 'js/snippets.js' %}"></script>

{% endblock %}