{% extends 'cinema/base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block title %}Главное меню{% endblock %}

{% block content %}
    <section>
        <div class="breaking-bad_section">
            <img class="img-fluid" src="{% static 'img/breaking-bad.jpg' %}" alt="breaking-bad">
            <div class="image-text">
                <h1>Откройте мир кино с нами!</h1>
                <p>Добавляйте фильмы и сериалы в свои списки, следите за обновлениями и находите новые шедевры.
                </p>
                <p>Оценивайте, оставляйте отзывы и делитесь своим мнением с друзьями. Ваша личная библиотека лучших
                    фильмов!</p>
            </div>
        </div>
    </section>


    <section class="my_swiper">

        <h2 class="text-center h2-md ">Рекомендую к просмотру</h2>
        <!-- Slider main container -->
        <div class="cinema-slider swiper">

            <div class="swiper-wrapper">
                <!-- Slides -->
                {% for movie in movies %}

                    <div class="swiper-slide my-swiper-slide">
                        <div class="image-slider">
                            <a href="{% url 'detail' model_name movie.slug movie.release_date|date:'Y'%}" class="link-title">
                                <div class="poster">
                                    <img src="{{ movie.poster_path }}" alt="{{ movie.title }}" class="card-img-top">
                                </div>
                            </a>
                        </div>
                        <div class="card-info">
                            <h5 class="text-start">{{ movie.title }}</h5>
                            <div class="year-genre year-genre-main">
                                <p class="muted-text">{{ movie.release_date|date:"Y" }}</p>
                                <p class="muted-text-genre">{% for genre in movie.genre.all %}
                                    {{ genre.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}</p>
                            </div>
                        </div>
                        <div class="bookmark bookmark-main" data-id="{{ movie.id }}">
                            <i class="fa-regular fa-bookmark"></i>
                        </div>
                        <script>
                            const userId = "{{ user.id|default:'null' }}";  // Если user.id пуст, будет 'null'
                        </script>
                        <div class="rating rating-main {% if movie.vote_average >= 6 and movie.vote_average < 8 %} rating-medium {% endif %}
                                            {% if movie.vote_average >= 8 %} rating-high {% endif %}
                                            {% if movie.vote_average < 6 %}rating-low {% endif %}">
                            <i class="fa-solid fa-star "></i> {{ movie.vote_average|floatformat:1 }}
                        </div>
                    </div>

                {% endfor %}

            </div>

            <!-- navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

        </div>

    </section>

    <section class="reviews">

        <!-- Модальное окно -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Заголовок модального окна</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>


        <h2>Что говорят наши пользователи</h2>
        <p class="last-reviews">Последние отзывы</p>
        <div class="reviews-swiper swiper">
            <div class="swiper-wrapper">
                <!-- Slides -->

                {% for review in reviews %}
                <div class="swiper-slide reviews-swiper-slide">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-4">
                                <a href="https://google.com" class="link-title">
                                <div class="poster">
                                    <img src="{{ review.poster }}" class="img-fluid rounded-start"
                                     alt="#">
                                </div>
                            </a>
                                
                            </div>
                            <div class="col-8">
                                <div class="card-body text-center">
                                    <h5 class="card-title">{{ review.user }}</h5>
                                    <p class="rating-reviews {% if review.rating >= 6 and review.rating < 8 %} rating-medium {% endif %}
                                            {% if review.rating >= 8 %} rating-high {% endif %}
                                            {% if review.rating < 6 %}rating-low {% endif %}"><i class="fa-solid fa-star"></i> {{ review.rating }}</p>
                                    <p class="card-text">{{ review.comment }}</p>
                                    <a href="#" class="card-button" 
                                       
                                       data-bs-toggle="modal"
                                       data-bs-target="#exampleModal"
                                       data-bs-whatever="{{ review.comment }}"
                                       data-bs-name="{{ review.user }}">
                                        
                                        {% if review.comment %} Показать больше {% endif %}
                                    
                                    </a>
                                       
                                       
                                    <p class="card-text"><small>{{ review.date_publish }}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
            <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        </div>

        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>




    </section>




    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script src="{% static 'js/swiper.js' %}"></script>
    <script src="{% static 'js/snippets.js' %}"></script>

{% endblock %}