{% extends 'registration/base_auth.html' %}
{% load static %}
{% block title %} Сброс пароля отправлен{% endblock %}

{% block content %}
    <div class="form-container-done form-container">
        <div class="header-content">
            <a href="{% url 'index' %}" class="back-link"><img class="icon" src="{% static 'img/icons8-back-30.png' %}" alt="icon"></a>
            <h2>Отправлено</h2>
        </div>
        <p class="form-text">На вашу почту отправлено письмо с инструкцией для сброса пароля. Пожалуйста, проверьте свою
            почту и следуйте инструкциям.</p>
        <p class="form-text">Если вы не видите письмо, проверьте папку "Спам" или попробуйте снова через несколько минут.</p>
        <a class="btn" href="{% url 'login' %}"> Вернуться к входу </a>
    </div>
{% endblock %}