{% extends 'registration/base_auth.html' %}
{% load static %}
{% block title %}
    Новый пароль
{% endblock %}

{% block content %}
    
    <div class="form-container">
        <div class="header-content">
            <a href="{% url 'index' %}" class="back-link"><img class="icon" src="{% static 'img/icons8-back-30.png' %}" alt="icon"></a>
            <h2>Новый пароль</h2>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="auth-password">
                {{ form.new_password1 }}
                {% if form.new_password1.errors %}
                <div class="form-error">
                    {% for error in form.new_password1.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="auth-password">
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}
                <div class="form-error">
                    {% for error in form.new_password2.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <button type="submit" class="btn">Сохранить</button>
        </form>

    </div>

{% endblock %}
