{% extends 'registration/base_auth.html' %}
{% load static %}

{% block title %} Восстановление пароля {% endblock %}

{% block content %}

    <div class="form-container">
       <div class="header-content">
            <a href="{% url 'index' %}" class="back-link"><img class="icon" src="{% static 'img/icons8-back-30.png' %}" alt="icon"></a>
            <h2>Восстановить</h2>
        </div>

        <form method="post">
            {% csrf_token %}
            <div class="auth-email">
                {{ form.email }}
            </div>
            <div class="form-error">
                {{ form.error }}
            </div>

            <button class="btn"> Восстановить пароль</button>
        </form>
    </div>
{% endblock %}