{% extends 'registration/base_auth.html' %}

{% block title %} Сброс пароля отправлен{% endblock %}

{% block content %}
    <div class="form-container-done form-container">
        <h2>Письмо отправлено</h2>
        <p class="form-text">На вашу почту отправлено письмо с инструкцией для сброса пароля. Пожалуйста, проверьте свою
            почту и следуйте инструкциям.</p>
        <p class="form-text">Если вы не видите письмо, проверьте папку "Спам" или попробуйте снова через несколько минут.</p>
        <a class="btn" href="{% url 'login' %}"> Вернуться к входу </a>
    </div>
{% endblock %}