body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #212529;
}

/* Футер фиксирован внизу */
.my-footer {
    margin-top: auto;
}

.movies-container h1 {
    color: #e1e1e1;
}

/* Основной контейнер для карточек */

.my-card {
    margin: 0 7px;
}

.my-card img {
    border-radius: 15px;
}

.rating-high {
    color: #32CD32;
}

.rating-medium {
    color:  #FFD700;
}

.rating-low {
    color: #FF4500;
}

.rating-reviews{
    margin: 0;
}

@media (min-width: 769px) {

.my-card {
    position: relative;
    border-radius: 17px; /* Закругление для всего контейнера */
    transition: transform 0.3s ease, background-color 0.3s ease;
    border: 2px solid transparent; /* Прозрачный бордер для выравнивания */
    padding: 0;
    margin: 0 7px;




}

/* Стили для изображения */
.my-card img {
    transition: transform 0.3s ease;
    border-radius: 15px;

}


/* Эффект при наведении на карточку */
.my-card:hover {
    border-color: #b09313; /* Цвет бордера при наведении */
    transform: scale(1.05); /* Увеличение всей карточки с бордером */
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);


}

/* Псевдоэлемент для затемнения */
.my-card::after {
    content: ''; /* Псевдоэлемент требует content */
    position: absolute; /* Абсолютное позиционирование */
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Затемнение с прозрачностью */
    border-radius: 15px; /* Сохраняем закругление */
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease; /* Плавное появление затемнения */
    pointer-events: none;

}

/* Появление затемнения при наведении */
.my-card:hover::after {
    opacity: 1;
}

/* Контейнер для информации */
.card-info {
    position: absolute;
    bottom: 5px; /* Информация будет внизу */
    left: 10px; /* Отступ слева */
    right: 10px; /* Отступ справа */
    text-align: left; /* Текст по левому краю */
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;

}


/* Появление информации и закладки при наведении */
.my-card:hover .card-info {
    opacity: 1;
}

.card-info h5 {
    margin: 0;
    color: white;
!important;
    font-weight: bold;
    font-size: 20px;
    transform: translateY(-10px); /* Сдвиг вверх */
}


/* Год и жанр */
.card-info .year-genre {
    font-weight: bold;
    color: #fff;
    display: flex;
    gap: 10px; /* Отступ между годом и жанром */
    align-items: center; /* Выравнивание по вертикали */
}

/* ссылка */

.link-title {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    text-decoration: none;
    z-index: 1;
}

/* Закладка в правом верхнем углу */
.my-card .bookmark {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #212529;
    color: #cccccc;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
}

.bookmark:hover i {
    color: #fff; /* Более тёмный серый при наведении */
}

.bookmark:active i {
    color: #b3b3b3; /* Ещё темнее при нажатии */
}

.my-card:hover .bookmark {
    opacity: 1;
}

.my-card .rating {
    position: absolute;
    content: "";
    top: 10px;
    left: 10px;
    background-color: #212529;
     /* Золотистый цвет для звезд */
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;


}






.my-card .rating i {
    margin-right: 5px; /* Задаем отступ справа от звездочки */
}



.my-card:hover .rating {
    opacity: 1;
}

.muted-text {
    color: #b0b0b0; /* Более светлый цвет для меньшего акцента */
}
.year-genre .muted-text-genre {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    color: #b0b0b0;
}

}

/* pagination */

.pagination {
    margin-bottom: 20vh;
    margin-top: 7vh;
}

.pagination .page-link {
    background-color: #212529; /* Темный фон */
    color: #fff; /* Белый текст */
    border-color: #444; /* Темная рамка */
    border-radius: 12px;
    height: 3.2rem; /* Фиксированная высота для всех элементов */
    display: flex;
    align-items: center; /* Выравнивание содержимого по вертикали */
    justify-content: center; /* Выравнивание содержимого по горизонтали */
}

.pagination .page-link:hover {
    background-color: #343a40; /* Более светлый темный фон при наведении */
}


.pagination .page-item.disabled .page-link {
    background-color: #495057; /* Уникальный фон для disabled */
    color: #adb5bd; /* Бледный текст */
}

.pagination .page-item.active .page-link {
    background-color: #ffcc00; /* Яркий фон для активного элемента */
    color: #212529; /* Тёмный текст для контраста */
    border-color: #ffcc00; /* Цвет рамки совпадает с фоном */
}

.pagination .page-link:focus {
    outline: none; /* Убирает стандартный бордер */
    box-shadow: none; /* Убирает синий эффект */
}


/* Стили для стрелок */
.pagination .page-item .page-link i {
    font-size: 1rem; /* Увеличиваем размер иконок */
    color: #fff; /* Белый цвет для стрелок */
}

.pagination .page-item .page-link:hover i {
    color: #ffcc00; /* Цвет стрелок при наведении */
}



/* Adaptation */


.pagination .page-link {
    padding: 0.65rem 1.4rem; /* Увеличенные отступы */
    font-size: 1.15rem; /* Увеличенный шрифт */

}

.pagination .page-item {
    margin: 0.3rem; /* Увеличенные промежутки между элементами */
}

@media (min-width: 992px) {
    .custom-lg-col {
        flex: 0 0 20%; /* 1/5 ширины */
        max-width: 20%; /* Ограничение ширины до 20% */
    }
}












.background-container {
    position: relative; /* Контейнер будет в обычном потоке */
    width: 100%;
    height: 100vh; /* Высота равна высоте окна браузера */
    overflow: hidden; /* Скроет излишки изображения */
    z-index: -1; /* Фон ниже контента */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.background {
    position: absolute; /* Изображение внутри контейнера */
    width: 100%;
    height: auto;
    /*height: 100%;*/
    /*object-fit: cover;  Фон полностью заполняет контейнер */
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
    z-index: 1; /* Затемнение поверх изображения */
    pointer-events: none; /* Не блокирует клики */

}



.content {
    position: absolute;
    top: 25%;
    max-width: 40%;
    border-radius: 10px;
    color: white;
    text-align: start;
    z-index: 2;

}

.watch {
    display: flex;
    gap: 30px;
    align-items: center;
}

.watch .bookmark {
    transition: opacity 0.3s ease;
    font-size: 1.7rem;
    color: #ccc;
}

.watch .bookmark:hover {
    cursor: pointer;
}


.content h1 {
    color: #cba815;
    margin-bottom: 5vh;

}

/* Общий стиль для строки информации */
.info {
    display: flex;
    align-items: center; /* Центровка по вертикали */
    gap: 15px; /* Расстояние между элементами */
    margin-bottom: 15px; /* Отступ снизу */
    font-size: 1.2rem; /* Размер шрифта */
    color: white; /* Белый текст */
}

/* Релиз дата */
/*.release-date {
    font-weight: bold;
}*/

/* Рейтинг */
.rating {
    display: flex;
    align-items: center;
    gap: 3px; /* Расстояние между иконкой и текстом */
}



/* IMDb иконка */
.rating-imdb {
    display: flex; /* Для выравнивания иконки и текста */
    align-items: center; /* Центровка по вертикали */

    color: white; /* Белый текст */
    border-radius: 10px; /* Закругленные углы */
    padding: 5px 10px; /* Отступы внутри */
    font-size: 16px; /* Размер текста */
    font-weight: bold; /* Жирный текст */
    width: fit-content; /* Автоматическая ширина */
}

.rating-imdb-high {
    background-color: #2BB12B;
}

.rating-imdb-medium {
    background-color: #cba815;
}

.rating-imdb-low {
    background-color: #D11A2A;
}




.imdb-logo {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.73 11.527a.815.815 0 0 1-.798.726H.805A.819.819 0 0 1 0 11.42V4.747c0-.416.294-.76.679-.822h14.379a.82.82 0 0 1 .672.715v6.887zM1.805 5.569v5.048H3.07V5.569H1.805zm3.965 0-.293 2.358-.182-1.282a38.28 38.28 0 0 0-.151-1.076H3.503v5.048H4.61l.004-3.333.467 3.333h.79l.442-3.408.004 3.408h1.105V5.569H5.77zm3.728 1.05c.014.064.021.21.021.439v1.957c0 .335-.02.541-.063.617-.042.076-.154.114-.336.114V6.432c.138 0 .232.015.282.045a.21.21 0 0 1 .096.142zm.572 3.947a.886.886 0 0 0 .38-.181.687.687 0 0 0 .215-.358c.041-.153.066-.455.066-.908V7.346c0-.477-.018-.797-.046-.96a.92.92 0 0 0-.211-.444.95.95 0 0 0-.493-.286c-.216-.058-.568-.087-1.181-.087h-.944v5.048h1.533c.303 0 .53-.018.68-.052zm2.703-.712c-.024.065-.126.097-.203.097-.076 0-.126-.031-.151-.093-.026-.062-.038-.204-.038-.425V8.098c0-.23.01-.373.033-.43.023-.057.072-.086.147-.086.077 0 .18.033.207.098.026.065.04.205.04.418v1.294c0 .244-.012.398-.035.462zm-1.611.763h1.14l.078-.322c.103.13.217.226.34.29.125.065.31.098.454.098.2 0 .373-.055.519-.164a.706.706 0 0 0 .277-.385c.039-.148.059-.374.059-.676V8.04c0-.304-.007-.503-.02-.597a.699.699 0 0 0-.117-.286.631.631 0 0 0-.281-.226 1.076 1.076 0 0 0-.436-.082c-.146 0-.332.03-.457.09-.13.065-.245.157-.337.27V5.57h-1.22v5.048z' fill='%23fff'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h16v16H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");

    background-repeat: no-repeat;
    background-size: 25px;
    height: 25px;
    margin-right: 10px;
    width: 25px;
}



.btn-watch {
    color: #fff;
    padding: 10px 50px;
    background-color: #cba815;
    text-align: center;
    border-radius: 10px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;

    font-size: 1.2rem;
    display: flex;
    gap: 15px;
    align-items: center;
}

.btn-watch i {
    font-size: 20px;

    color: #fff;
}

/* Эффект при наведении */
.btn-watch:hover {
    box-shadow: 0 0 15px rgba(203, 168, 21, 0.6), 0 0 30px rgba(203, 168, 21, 0.4);
    background-color: #cba815;
    cursor: pointer;
}

.btn-watch:active {
    background-color: #b59613;!important; /* Более темный цвет */
    transform: scale(0.98); /* Легкое уменьшение для эффекта нажатия */

}

.info-genre {
    display: flex;
    gap: 15px;
}

.info-genre p {
    font-size: 1.2rem;
}

.overview {
    font-size: 1.1rem;


    line-height: 1.5rem; /* Высота строки */
}



