{% extends 'cinema/registration/base_auth.html' %}
{% load static %}
{% block title %}
	Пароль изменен
{% endblock %}

{% block content %}
    <div class="form-container form-container-done">
        <div class="header-content">
            <a href="{% url 'index' %}" class="back-link"><img class="icon" src="{% static 'img/icons8-back-30.png' %}" alt="icon"></a>
            <h2>Пароль изменен</h2>
        </div>

    <p class="form-text">Поздравляем! Вы успешно изменили пароль.</p>
        <a class="btn" href="{% url 'login' %}"> Вход в систему </a>
    </div>
	
{% endblock %}